/********* MAIN ***********/

// Parametres Scrollbar Color-------------------------------------------------------------------------------
html {
    scrollbar-color: #9951b3 #fff;
}
body{
    background-color: #fadee2;
    overflow-x: hidden;
    
}
.wrapper{
    padding: 20px;
}

// Parametres Swipper --------------------------------------------------------------------------------------

.container-swiper-album{
    margin: 25px 0;
    .container-swiper {
        width: 100%;
        .swiper-wrapper{
            width: 140px;
            .swiper-slide{
                width: 140px;
                .container-swiper-img{
                    margin-top: 10px;
                    margin-bottom: 10px;
                    position: relative;
                    width: 140px;
                    img{
                        width: 140px;
                        height: 140px;
                        border-radius: 8px;
                        transition: 0.3s all ease-in-out;
                    }
                    .container-svg-play{
                        display: none;
                    }
                }
                .container-swiper-txt{
                    margin-bottom: 10px;
                    &:hover{
                        text-decoration: underline;
                    }
                }
                &:hover{
                    .container-swiper-img{
                        img{
                            filter: grayscale(0.5);
                            transition: 0.3s all ease-in-out;
                        }
                        .container-svg-play{
                            position: absolute;
                            width: 30px;
                            height: 30px;
                            border-radius: 25px;
                            background: rgba(92,86,86,0.938813025210084);
                            bottom: 10px;
                            left: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            &:hover{
                                background-color: #ffc0cb;
                            }
                        }
                    }
                }
            }
        }
    }
}

.container-Explore{
display: flex;
flex-direction: column;
row-gap: 15px;
margin-bottom: 25px;
margin-top: 15px;
    h2{
        font-size: 25px;
        margin: 5px 0 0 5px;
    }
    div{
        background-color: #9951b3;;
        border-radius: 10px;
        padding: 20px;
    }
}